
body {
   background-image: url("/images/drumset.png");
    background-size: cover;

    text-align: center;
    font-size: 15px;
    color: rgb(4, 26, 3);
    padding: 100px;
    margin-top: 300px;
    font-family: 'Arial', sans-serif;
}

.key {
    border: 5px solid rgb(138, 5, 5);
    display: inline-block;
    padding: 20px;
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
    width: 55px;
    cursor: pointer;
    user-select: none;
    background-color: aquamarine;
}

.playing {
    background: rgb(235, 68, 56);
}

.sound {
    font-family: "Playwrite AU QLD";
    color: rgb(4, 26, 3);
    text-shadow: 2px 2px 2px rgba(243, 25, 25, 0.5);
    margin-top: 10px;
    display: block;
}
